# Игнорируем виртуальное окружение (не копировать в контейнер)
.venv/
venv/

# Игнорируем временные файлы Python (кэш байт-кода)
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем Git-папку (не нужна внутри контейнера)
.git/

# Игнорируем файлы Git
.gitignore

# Игнорируем файл с переменными окружения (секреты)
.env

# Игнорируем сами Docker-файлы (чтобы не копировать их в образ)
Dockerfile
docker-compose*.yml
.dockerignore
.DS_Store

# Игнорируем документацию
README.md
*.log

# Игнорируем базу данных SQLite (локальную, не нужна в контейнере)
db.sqlite3